#################
## Top Level
#################

Patchouli/
MinecraftForge/
TabulaRasa/
Workspace/
Workspace-1.13-pre/
.gradle

############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

